<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button clear (click)="reorder()">
        {{navButton}}
      </button>
    </ion-buttons>
    <ion-title>
      Car MX
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row  *ngIf="showReorder || data.length < 3">
    <ion-col text-center>
      <button ion-button clear block icon-right color="secondary">
        Add section
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-list reorder="{{showReorder}}" (ionItemReorder)="reorderItems($event)">
    <div *ngFor="let item of data">
    <ion-card margin-top ion-item *ngIf="item.sectionTitle == 'Gas'">
      <ion-card-header no-padding>
        <ion-card-title >{{item.sectionTitle}}</ion-card-title>
      </ion-card-header>
      <ion-card-content text-center no-padding>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h3>{{item.content.primaryLabel}} {{item.content.primaryValue}} {{item.content.units}}</h3>
              <p>{{item.content.secondaryLabel}} {{item.content.secondaryValue}} {{item.content.units}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card margin-top ion-item  *ngIf="item.sectionTitle == 'Alerts'">
      <ion-card-header no-padding>
        <ion-card-title >{{item.sectionTitle}} ({{item.contents.length}})</ion-card-title>
      </ion-card-header>
      <ion-card-content padding class="sublistItems">
        <ion-list *ngFor="let alert of item.contents; let i = index">
          <button ion-item *ngIf="i < 3">
            {{alert}}
          </button>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card margin-top ion-item *ngIf="item.sectionTitle == 'MX'">
        <ion-card-header no-padding>
          <button ion-button float-end small clear>
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-card-title>{{item.sectionTitle}} ({{item.contents.length}})</ion-card-title>

        </ion-card-header>
      <ion-card-content padding class="sublistItems">
        <ion-list *ngFor="let mx of item.contents; let j = index">
            <ion-item-sliding *ngIf="j < 4">
              <ion-item>
                {{mx.mx}}
                <span float-end>
                  <p class="mxValues">{{mx.val}}</p>
                </span>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="secondary">
                  Schedule
                  <ion-icon name="time"></ion-icon>
                </button>
                <button ion-button color="danger">
                  Reset
                  <ion-icon name="refresh"></ion-icon>
                </button>
              </ion-item-options>
            </ion-item-sliding>
        </ion-list>
      </ion-card-content>
    </ion-card>
    </div>
  </ion-list>

  <button ion-button full (click)="showSettingsPage()">demo</button>

  <ion-fab right bottom *ngIf="!showReorder" #fab>
    <button ion-fab color="secondary"><ion-icon name="car"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="danger" (click)="navToPage('mx', fab)"><ion-icon name="warning"></ion-icon></button>
      <button ion-fab color="danger" (click)="navToPage('alert', fab)"><ion-icon name="alert"></ion-icon></button>
      <button ion-fab color="secondary" (click)="showAddFuelModal()"><ion-icon name="add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
