<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button clear icon-only>
        <ion-icon name="settings" color="dark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Car MX | Settings
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
 <ion-slides pager="true">
   <ion-slide>
     <ion-grid>
       <ion-row>
         <ion-col>
           <ion-list no-border>
             <ion-item text-center>
               <ion-img id="avatarImage" src="{{currentUser.photoURL}}" *ngIf="currentUser.photoURL"></ion-img>
               <h2>{{currentUser.displayName || currentUser.email}}</h2>
               <!--<p>logged in via: {{currentUser.providers[0].providerId != "password"|| "email"}}</p>-->
               <!--<button ion-button small clear no-margin no-padding>(edit)</button>-->
             </ion-item>
           </ion-list>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col>
           <ion-list>
             <ion-list-header>Account Details</ion-list-header>
             <form [formGroup]="settingForm">
               <ion-item>
                 <ion-label>User Name:</ion-label>
                 <ion-input type="text" formControlName="displayName" placeholder="{{currentUser.displayName }}"></ion-input>
               </ion-item>
               <ion-item>
                 <ion-label>Email: </ion-label>
                 <ion-input [disabled]="emailDisabled" type="text" formControlName="email" placeholder="{{currentUser.email}}"></ion-input>
               </ion-item>
             </form>
             <button ion-button block [disabled]="settingForm.valid"  type="submit" (click)="submitSettingsForm()">{{newUser ? "Add Info" : "Update Info"}}</button>
           </ion-list>
         </ion-col>
       </ion-row>
     </ion-grid>
     <ion-list>
       <ion-list-header>
         Vehicles
       </ion-list-header>
       <button ion-item clear>
          2006 BMW 325xi
       </button>
       <button ion-item clear>
         replace these with for loop on data and add no veh
       </button>
       <ion-item>
         Add a new Vehicle
         <button ion-button item-end  color="secondary" outline (click)="showVehicleDetails()">
           add
         </button>
       </ion-item>
     </ion-list>



       <button ion-button clear icon-right text-center (click)="changeSlide()">
         Your account
         <ion-icon name="arrow-dropright"></ion-icon>
       </button>
   </ion-slide>
   <ion-slide>
     <ion-grid>
       <ion-row>
         <ion-col>
           <ion-list>
             <ion-list-header>Linked Accounts</ion-list-header>
             <ion-item>
               <ion-icon name="logo-google" color="danger" item-start ></ion-icon>
               <h2>Google</h2>
               <p>{{currentUser.displayName}}</p>
               <button ion-button color="secondary" item-end *ngIf="!providers.google" outline>Add</button>
               <button ion-button color="danger" item-end *ngIf="providers.google" outline>Remove</button>
             </ion-item>
             <ion-item>
               <ion-icon name="logo-facebook" color="blue" item-start></ion-icon>
               Facebook
               <button ion-button color="secondary" item-end [disabled]="true" *ngIf="!providers.facebook" outline>Add</button>
               <button ion-button color="danger" item-end [disabled]="true" *ngIf="providers.facebook" outline>Remove</button>
             </ion-item>
             <ion-item>
               <ion-icon name="mail" color="blue" item-start></ion-icon>
               Email & Password
               <p *ngIf="providers.email">{{currentUser.email}}</p>
               <button ion-button color="secondary" *ngIf="!providers.email" item-end outline>Add</button>
               <button ion-button color="danger" *ngIf="providers.email" item-end outline>Remove</button>
             </ion-item>
           </ion-list>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col>
           <ion-list *ngIf="providers.email">
              <ion-list-header>
                Reset Password
              </ion-list-header>
         <form [formGroup]="resetPasswordForm">
           <ion-item>
             <ion-label>Old Password: </ion-label>
             <ion-input type="password" formControlName="oldPassword"></ion-input>
           </ion-item>
           <ion-item>
             <ion-label>New Password: </ion-label>
             <ion-input type="password" formControlName="newPassword"></ion-input>
           </ion-item>
           <ion-item>
             <ion-label>Confirm Password: </ion-label>
             <ion-input type="password" formControlName="confirmPassword"></ion-input>
           </ion-item>
         </form>
               <button ion-button block>Update Password</button>
           </ion-list>

           <ion-list>
             <ion-list-header>Delete account</ion-list-header>
             <ion-item>
               Delete Account
               <button ion-button item-end color="danger" outline >Delete</button>
             </ion-item>
           </ion-list>

           <button ion-button clear icon-left (click)="changeSlide()">
             <ion-icon name="arrow-dropleft"></ion-icon>
             back
           </button>
         </ion-col>
       </ion-row>
     </ion-grid>
   </ion-slide>
 </ion-slides>
</ion-content>
