<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button clear icon-only>
        <ion-icon name="settings" color="dark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Car MX | Settings
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
 <ion-slides pager="true">
   <ion-slide>
     <ion-list>
       <ion-item-divider>
         <p float-start >User Info</p>
       </ion-item-divider>
       <form [formGroup]="settingForm">
         <ion-item>
           <ion-label>Name:</ion-label>
           <ion-input type="text" formControlName="name"></ion-input>
         </ion-item>
          <ion-item>
           <ion-label>Email: </ion-label>
           <ion-input [disabled]="emailDisabled" type="text" formControlName="email" placeholder="{{emailPlaceholder}}"></ion-input>
         </ion-item>
       </form>
         <ion-item-divider>
           <p float-start >Reset Password</p>
         </ion-item-divider>
         <form [formGroup]="resetPasswordForm">
           <ion-item>
             <ion-label>Old Password: </ion-label>
             <ion-input type="password" formControlName="oldPassword"></ion-input>
           </ion-item>
           <ion-item>
             <ion-label>New Password: </ion-label>
             <ion-input type="password" formControlName="newPassword"></ion-input>
           </ion-item>
           <ion-item>
             <ion-label>Confirm Password: </ion-label>
             <ion-input type="password" formControlName="confirmPassword"></ion-input>
           </ion-item>
         </form>
         <button ion-button block  type="submit" (click)="submitSettingsForm()">{{newUser ? "Add Info" : "Update Info"}}</button>


       <button ion-button clear icon-right text-center (click)="changeSlide()">
         Vehicles
         <ion-icon name="arrow-dropright"></ion-icon>
       </button>
     </ion-list>
   </ion-slide>
   <ion-slide>
         <p *ngIf="!userVehicles">you currently have no vehicles</p>
     <ion-list *ngIf="userVehicles">
       <ion-item *ngFor="let vehicle of userVehicles">
         <h2>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</h2>
         <p>{{vehicle.odometer}}</p>
       </ion-item>
     </ion-list>
     <button ion-button clear icon-right>
       add
       <ion-icon name="add"></ion-icon>
     </button>
     <ion-list>
       <form>
         <ion-item>
           <ion-label>Year: </ion-label>
           <ion-select>
             <ion-option *ngFor="let year of vehicleInfo.years" value="{{year}}">{{year}}</ion-option>
           </ion-select>
         </ion-item>
       </form>
     </ion-list>
   </ion-slide>
 </ion-slides>
</ion-content>
